*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}


/****************
* MEDIA QUERIES
*****************/
@media (max-width: 520px){

    body{
        text-align: center;
    }

    body section .social{
        width: 25px;
        height: 25px;
    }

    body section .banner{
        background-attachment: local;
    }

    body section .img{
        width: 150px;
    }

    body section h1{
      font-size: 30px;
    }

    body section .h2{
        font-size: 15px;
    }

    body section .h3{
        font-size: 20px;
    }

    body .p{
        width: 90vw;
        margin-left: 24px ;
    }

    body .thanks{
        font-size: 12px;
    }

    body footer{
        font-size: 10px;
    }

}


/********
* BODY
*********/
body{
    font-family: 'lato';
    background: rgb(27, 27, 27);
    width: auto;
    height: auto;
}


/********
* HEADER
*********/
.header{
    background: black;
    color: white;
    width: 100%;
    font-family: 'Lato', sans-serif;
    display: flex;
    justify-content: center;

}

.social{
    float: center;
    padding: 3px 15px;
    width: 20px;
    height: 20px;
}


/********
* BANNER
*********/
.banner{
    background-image: url(img/banner.jpg);
    background-attachment: fixed; 
    width: 100%;
    height: 35%;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 10px 10px rgb(24, 24, 24);
}

.img{
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0.01px;
    width: auto;
    height: auto;
    box-shadow: 0px 0px 15px rgb(56, 55, 55);
    border-radius: 50%;
}


/************
* CONTAINER
*************/

.align{
    text-align: center;
    width: 100%;
    justify-content: center;
}

.caixaprofile{
    margin-bottom: 40px;
    text-align: center;
    list-style: none; 
    width: auto;
    height: auto;
}

h1{
    font-size: 30px;
    margin-bottom: 0;
    letter-spacing: -1px;
}

.h2{
    color: rgb(145, 144, 144);
    font-weight: 400;
    font-style: italic;
    margin: 0;
    font-size: 20px;
}

.p{
    padding: 10px 0px 100px 0px;
    margin: auto;
    letter-spacing: 2px;
    font-weight:300 ;
    width: 50vw;
    text-align: center;
}

.h3{
    padding-bottom: 30px;
    letter-spacing: 1px;
    font-weight: 500;
}

ul{
    padding-bottom: 55px;
    list-style: none;
    text-align: center;
}

li{
    font-weight: 300;
    color: rgb(173, 173, 173);
    padding-bottom: 5px;
}

.thanks{
    margin-top: 50px;
    margin-bottom: 0;
    padding-bottom: 5px;
}


/********
* FOOTER
*********/
footer{
    color: white;
    background: black;
    text-align: center;
    font-size: 12px;
    font-weight: 200;
    font-style: italic;
    width: auto;
    height: auto;
    padding: 10px 0;
}